/*=================================global css=====================================================*/
body {
  background: #f9f9f9;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/*==================================top and navbar ========================================================*/
.top-header {
  background: #e4e8ea00;
  margin-bottom: -16px;
  padding: 18px 0px;
}

.top-header div.container {
  display: flex;
  justify-content: space-between;
}

.top-logo img {
  height: 62px;
  width: 198px;
  margin-top: -15px;
}

#navbar {
  /* background: gold; */
  background: gold;
  padding: 20px 0px;
  transition: 0.4s;
  position: relative;
  width: 100%;
}

.navigation li.nav-item>a.nav-link {
  color: black;
  font-size: 18px;
  /* font-weight: bold; */
  padding: 0px 14px;
}

section.navigation .navbar {
  background:gold;
}

.btn-success {
  color: #fff;
  background-color: gold;
  border-color: gold;
}

/*================================search section=========================================================*/
section.search {
  position: relative;
  background: white;
}

.form-container select.form-control, .form-container input.form-control {
  border: 2px solid gold;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 14px;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.container.form-container {
  padding-top: 33px;
  padding-bottom: 23px;
}

section.search .form-container button {
  font-weight: bolder;
  color: #fff;
  padding: 10px 20px;
}

/*==============================post category=======================================================*/
section.post-categories {
  margin-top: 50px;
}

.city-list-wrapper {
  background: #f1f3f4;
  border-radius: 4px;
  padding: 15px 20px;
  margin-top: 50px;
  margin-right: 6px;
}

ul.home-city-list li {
  list-style: none;
  font-size: 15px;
  color: black;
  padding: 12px 0px 6px 0px;
  margin-left: 8px;
}

ul.home-city-list li a {
  color: black;
}

ul.home-city-list li a:hover {
  color: gold;
}

.city-list-wrapper h3 div {
  border: 2px solid rgb(67, 167, 93);
  width: 120px;
  margin: 0px 0px 0px 50px;
}

.city-list-wrapper h3 {
  /* font-weight: bold; */
  text-align: center;
}

.cat-list-wrapper .title {
  /* font-weight: bold; */
  padding: 22px 15px 0px 26px;
}

.cat-list-wrapper .title div {
  border: 2px solid;
  border: 2px solid rgb(67, 167, 93);
  width: 134px;
}

.cat-title {
  background: gold;
  color: black;
  text-align: center;
  position: absolute;
}

.cat-list-wrapper .cat-title {
  padding: 12px 26px;
  margin-top: -25px;
  margin-left: -33px;
  width: 220px;
}

/* div#featured-posts-container h3.cat-title {
    padding-top: 50px;
    font-size: 35px;

    text-align: center;
    margin-bottom: -95px;

}  */
.city-list-wrapper .cat-title {
  width: 180px;
  margin: -42px 0px 0px 15px;
  padding: 11px 0px;
}

ul.home-city-list {
  padding-top: 20px;
}

.cat-list-wrapper div.row div {
  margin-top: 7px;
}

.cat-box.text-center {
  padding: 15px 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.cat-box.text-center:hover {
  background: #e4e8ea;
  border:1px solid gold;
  transition: .3s edge;
}

.cat-box.text-center div.icon {
  margin-bottom: 5px;
}

/*===================================posts========================================================*/
.all-posts div.featured-posts {
    background: #f1f3f4;
    margin-top: 60px;
}
.post-heading {
    text-align: center;
    padding-top: 30px;
    margin-bottom: -110px;
}

.cat-box.text-center div.icon i {
  background: #e4e8ea;
  color: black;
  padding: 20px;
  border-radius: 40px;
  font-size: 30px;
}

a.cat-box-title {
  color: black;
  font-size: 15px;
}

.container.post-banner {
  padding: 0px;
}

h2.title.text-center {
  background: #f7b806;
  color: black;
  padding: 40px 40px;
  margin-bottom: 0px;
}



/*========================================cat posts==========================================================*/
.row.single-posts div.col-md-6 img {
  height: 140px;
  width: 190px;
  border: 4px solid #80808047;
}

.card.single-post {
  width: 98% !important;
  margin: 0px auto;
  box-shadow: -1px 4px 14px 1px #0000000d;
  margin-bottom: 30px;
}

.single-post img {
  height: 220px;
}

.posts-card {
  margin-top: 100px;
}

/*
div#featured-posts-container h3.cat-title {
    padding: 14px 30px;
    margin: 50px 0px 0px -38px;
} */
/*===============================================footer==========================================================*/
/* Start section Fotrer */
.footer-wrap {
  margin-top: 10px;
  background: gold;
  color: black;
  padding-top: 30px;
  background-size: cover;
}

.footer-wrap h3 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-wrap p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}

.footer-wrap p a {
  text-decoration: underline;
  font-style: italic;
}

.footer-wrap p a:hover {
  text-decoration: none;
}

.footer-links li a {
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.footer-links li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  padding-right: 10px;
  color: #b3b3b3;
}

.footer-category li a {
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.footer-category li:before {
  content: "\f105";
  font-family: 'FontAwesome';
  padding-right: 10px;
}

.address {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

.address:before {
  content: "\f277";
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 0;
}

.info a {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-phone:before {
  content: "\f095";
}

.info a {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-fax:before {
  content: "\f1ac";
}

.copyright {
  border-top: 1px solid #5f5f5f;
  font-size: 14px;
  margin-top: 25px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

/* End section Fotrer */
/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');


section.details-card div div.row div.col-md-4 {
    margin-bottom: 30px;
}

.details-card {
  padding: 90px 0px 20px 0px;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}


.card-img span {
  float: right;
  position: absolute;
  top: 0%;
  right: 0%;
  background: #ffd400;
  padding: 13px 28px;
  /* color: #fff; */
  /* font-size: 19px; */
  /* transform: translate(-50%,-50%); */
}

.card-img span h4 {
  margin: 0;
  padding: 7px 0px;
  line-height: 0;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.card-desc {
  /* padding: 1.25rem; */
  padding: 5px 10px;
}

.card-desc h3 {
  color: #000000;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 6px 0px;
  font-family: 'Raleway', sans-serif;
}

.card-content .card-footer {
  padding: 8px 10px;
  background: #ffc800b5;
  color: black;
  font-size: 14px;
}

.card-footer div {
  display: flex;
  justify-content: space-between;
}


/* End card section */
/*===========================================login register================================================*/
.col-md-4.login-form>div {
  margin: 40px auto;
  border: 1px solid #efefef;
  box-shadow: 1px 6px 8px 5px #e8e8e8;
}

.login-form form, .signup-form form {
  padding: 15px 20px;
}

.login-form div h3, .signup-form div h3 {
  background: #40ab61;
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.login-form label, .signup-form label {
  color: #585656cf;
  font-size: 13px;
  font-weight: bold;
}

.login-form button {
  margin: auto 32%;
}

.login-form .form-control, .signup-form .form-control {
  padding: 10px 11px;
  font-size: 12px;
}

.col-md-6.signup-form>div {
  margin: 45px;
  border: 1px solid #efefef;
  box-shadow: 1px 6px 8px 5px #e8e8e8;
}

.col-md-2.addvertise img {
  width: 180px;
  height: 600px;
  margin: 40p;
  margin-top: 50px;
}

/*======================================advertise image=================================================*/
.container.addvertise-banner img {
  width: 100%;
  height: 200px;
  /* margin: 14px 0px; */
  margin-top: 30px;
}
